@model JZsGreen.Models.CategoryChild

@{
    ViewData["Title"] = "Xóa";
}

<div style="padding:50px;">
    <h1>Xóa Danh Mục Nhỏ</h1>
    <h3>Bạn có chắc chắn muốn xóa danh mục nhỏ này?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Tên @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.name)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Xóa Ngay" class="btn btn-danger" style="width:100%" />
        </form>
        <hr/>
        <a asp-action="Index" class="text-center">Quay về trang danh sách</a>
    </div>
</div>