﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

<a class="item-cart" id="cart-title" asp-route="cart">
    <span style="color:white"><i class="fa fa-shopping-cart" id="cartCount"></i> Giỏ Hàng</span>
</a>
